#circleG{
	width:200px;
	margin:auto;
}

.circleG{
	background-color: #efefef;
	float:left;
	height:30px;
	margin-left:30px;
	width:30px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:1.6575s;
		-o-animation-duration:1.6575s;
		-ms-animation-duration:1.6575s;
		-webkit-animation-duration:1.6575s;
		-moz-animation-duration:1.6575s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:15px;
		-o-border-radius:15px;
		-ms-border-radius:15px;
		-webkit-border-radius:15px;
		-moz-border-radius:15px;
}

#circleG_1{
	animation-delay:0.3295s;
		-o-animation-delay:0.3295s;
		-ms-animation-delay:0.3295s;
		-webkit-animation-delay:0.3295s;
		-moz-animation-delay:0.3295s;
}

#circleG_2{
	animation-delay:0.7755s;
		-o-animation-delay:0.7755s;
		-ms-animation-delay:0.7755s;
		-webkit-animation-delay:0.7755s;
		-moz-animation-delay:0.7755s;
}

#circleG_3{
	animation-delay:0.9985s;
		-o-animation-delay:0.9985s;
		-ms-animation-delay:0.9985s;
		-webkit-animation-delay:0.9985s;
		-moz-animation-delay:0.9985s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(42,72,150);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(42,72,150);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(42,72,150);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(42,72,150);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(42,72,150);
	}

	100%{}
}

.loading_blocker {
    position:fixed;
    padding:0;
    margin:0;
    z-index: 2;
    top:0;
    left:0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,1.0);
    transition: 1s opacity;
}

.loading_blocker.active {
    opacity: 0.6;
    transition: 1s opacity;
}

.loading_message {
	/* Center the loading message vertically */
	top: 50%;
	position: relative;
	margin-top: -75px;

	/* Center the loading message horizontally */
	margin-left: auto;
	margin-right: auto;

	width: 20em;
    padding: 3em 3em 3em 2em;
    border: 4px solid #555;
    border-radius: 20px;
    background-color: #efefef;
}

.loading_text {
    text-align: center;
    margin-top: 2em;
    margin-left: 1em;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.7;
    }
}
