.transactionResultHit {
    padding: 10px;
    border-bottom: black solid;
}

.sk-hits {
    border-top: black solid;
}

.sk-layout__top-bar {
    position: relative;
    background: rgb(83, 105, 43);
}

.sk-layout__body {
     margin: 5px auto 0;
    min-width: 600px;
}

.sk-results-list {
    padding: 10px 5px;
}

.sk-toggle-option {
    color: rgb(113, 149, 0);
}

.sk-refinement-list__view-more-action {
    color: rgb(113, 149, 0);
}

.sk-toggle-option.is-active {
    color: #fff;
    background-color: rgb(113, 149, 0);
    border-color: rgb(113, 149, 0);
}