.projectResultHit {
    padding: 10px;
    border-bottom: black solid;
}

.transactionResultHit {
    padding: 10px;
    border-bottom: black solid;
}

.sk-hits {
    border-top: black solid;
}

.sk-layout__top-bar {
    position: relative;
    background: rgb(83, 105, 43);
    z-index: 1;
}

.sk-layout__filters {
    flex: 0 0 270px !important;
}

.sk-layout__body {
    margin: 5px auto 0;
    min-width: 600px;
}

.sk-results-list {
    padding: 10px 5px;
}

.sk-toggle-option {
    color: rgb(113, 149, 0);
}

.sk-refinement-list__view-more-action {
    color: rgb(113, 149, 0);
}

.sk-toggle-option.is-active {
    color: #fff;
    background-color: rgb(113, 149, 0);
    border-color: rgb(113, 149, 0);
}

.collapsible-panel.collapsed {
    margin-bottom: 16px;
}

.collapsible-panel.collapsed .collapsible-title::before {
    content: "\f0da" !important;
    font-family: FontAwesome;
    padding-right: 2px;
}

.collapsible-panel.collapsed .collapsible-body {
    display: none;
}

.collapsible-panel.expanded .collapsible-title::before {
    content: "\f0d7";
    font-family: FontAwesome;
    padding-right: 2px;
}

.collapsible-panel .collapsible-title {
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 5px;
}

.collapsible-panel .collapsible-title:hover {
    cursor: pointer;
}

.truncate-abstract {
    position: relative;
    height: 60px;
    overflow: hidden;
}

.truncate-abstract:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 20px;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
}

.level_1 {
    margin-left: 15px;
    font-size: 14px;
}
.level_1 .collapsible-panel.expanded .collapsible-title::before {
    content: "\f0d7";
    font-family: FontAwesome;
    padding-right: 2px;
}
.level_1 .collapsible-panel.collapsed .collapsible-title::before {
    content: "\f0da";
    font-family: FontAwesome;
    padding-right: 2px;
}

.level_2 {
    margin-left: 15px;
    font-size: 12px;
}
.level_2 .collapsible-panel.expanded .collapsible-title::before {
    content: "\f0d7";
    font-family: FontAwesome;
    padding-right: 2px;
}
.level_2 .collapsible-panel.collapsed .collapsible-title::before {
    content: "\f0da";
    font-family: FontAwesome;
    padding-right: 2px;
}
.level_3 {
    margin-left: 15px;
    font-size: 10px;
}
.level_3 .collapsible-panel.expanded .collapsible-title::before {
    content: "\f0d7";
    font-family: FontAwesome;
    padding-right: 2px;
}
.level_3 .collapsible-panel.collapsed .collapsible-title::before {
    content: "\f0da";
    font-family: FontAwesome;
    padding-right: 2px;
}