# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Values below are for the Pacifica Search project
    elasticsearch_host: '127.0.0.1:9201'
    elasticsearch_index: 'pacifica_search'
    metadata_host: 'search_metadataserver:8121'

    # In a local development environment, you can replace the lines above with these settings to connect to the
    # snapshot server - this requires an SSH tunnel to be set up
    #    elasticsearch_host: '<Your IP address>:19200'
    #    elasticsearch_index: 'pacifica_search'
    #    metadata_host: '<metadata server ip address or container name>'

    # A boolean switch that determines if released datasets and related metadata are shown or not, even if they exist on the ES index
    show_unreleased: false
