label {
    display: block;
    padding-bottom: 5px;
    width: 185px;
    overflow: hidden;
    white-space: nowrap;
}

label.disabled {
    color: lightgrey;
}

fieldset {
    float: left;
    margin: 10px;
    width: 200px;
}

input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

#files p {
    margin: 0;
}